## part A: Dimensions

1.core syntax
2.excel with pythons
3.SQL+DB with python(advance)
4.Real case(YT+github) + question banks(buy)

## Part B: modules

1.OS
2.Pandas
  series
  dataframe
  csv
  jason
3.numpy
4.mathlib

## chapter 1: OS modules

In [5]:
"""
To get the location of the current working directory(CWD) os.getcwd() is used.
"""
#import os
import pandas as pd
os.getcwd()

'C:\\Users\\fengs'

In [10]:
os.listdir() 
#show files(elements) under cwd:'C:\\Users\\fengs'

In [13]:
"""
 for creating a new folder:
os.mkdir()
os.makedirs()
"""
# Directory
directory = "GeeksforGeeks"
  
# Parent Directory path
parent_dir = "C:/Users/fengs/Desktop/pd_real"
#copy from pc: C:\Users\fengs\Desktop\pd_real, need to change to /
  
# Path
path = os.path.join(parent_dir, directory)
print(path)
#os.mkdir(path)
print("Directory '% s' created" % directory)

C:/Users/fengs/Desktop/pd_real\GeeksforGeeks
Directory 'GeeksforGeeks' created

In [18]:
#way 1:change \(pc) to /(pw)
os.mkdir('C:/Users/fengs/Desktop/pd_real/gd_2')

#way 2:add r: raw path
os.mkdir(r'C:\Users\fengs\Desktop\pd_real\gd_3')

## chatper 2 Pandas

1.pandas.series() is a one-dimensional labeled array capable of holding data of any type,like a    list
  df is 2-d array
2.pandas.Series( data, index, dtype, name, copy)
3.類似於DF['xxxx'] 單獨一個col

excel            pandas
worksheet        Dataframe
column           series
row heading      index
row              row
Empty cell       NaN

In [19]:
import pandas as pd
import numpy  as np

### 2.1 create DF with list

In [26]:
list = ['g', 'e', 'e', 'k', 's']
ser = pd.Series(list)
ser

0    g
1    e
2    e
3    k
4    s
dtype: object

In [21]:
data=np.array([[1,4],[2,5],[8,9]]) 
print(data)
#[1,4] is 1 row record,[2,5] is 2nd row

[[1 4]
 [2 5]
 [8 9]]

In [25]:
#pandas.Series( data, index, dtype, name, copy)
#pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
data2=pd.DataFrame(data) 
data2

   0  1
0  1  4
1  2  5
2  8  9

In [27]:
data3=pd.DataFrame(data,index=['row1','row2','row3'],columns=['col1','col2'])
data3  
#index is rows names

      col1  col2
row1     1     4
row2     2     5
row3     8     9

### 2.2 create dataframe with dict

In [ ]:
#list for this example